/* リセット系 */
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
/* index.html */
body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: #fefcf8;
    color: #4a4a4a;
    line-height: 2;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}
/* ナビバー */
.navbar {
    background-color: #AFDFE4;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-size: 1.5rem;
    color: #00AEEF;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #00AEEF;
    font-weight: bold;
}
a:hover{
    opacity: 0.5;
}
/* メインビジュアル */
.mainvisual img {
    width: 100%;
    height: 500px;
}
/* ヒーローセクション */
.hero {
    text-align: center;
    padding: 4rem 1rem 2rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    color: #777;
}

/* 自己紹介 */
.intro {
    padding: 3rem;
    background-color: #fff;
    text-align: center;
}

/* 旅カード */
.latest-trips {
    padding: 3rem;
    background-color: #caE8E2;
    text-align: center;
}
.latest-trips h3{
    padding-bottom: 2rem;
}

.trip-cards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h4 {
    padding: 0.8rem;
    color: #5a4d3d;
}

/* フッター */
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #f6f3ee;
    color: #999;
}

@media screen and (max-width: 767px) {
    .navbar{
        padding: 0.5rem 1rem;
    }
    .logo{
        max-width: 120px;
        font-size: 1rem;
    }
}

/* about.html */
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 80%;
    height: 100%;
}

.section-title{
    margin-bottom: 2rem;
}

.section-title .en{
    display: block;
    font-size: 2.5rem;
}

.section.title .ja{
    display: block;
    font-size: 1rem;
}