table {
    border-collapse: collapse;
    border: 1px solid black;
}
.score{
    padding: 20px 0;
    display: flex;
        justify-content: center;
        /* 中央揃え */
        gap: 20px;
        /* 間隔調整 */
}
.table-container{
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.title{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.highlight {
    background-color: yellow;
    /* ハイライト色 */
}