*{
    padding-top: 60px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        /* 高さを固定 */
        background-color: aquamarine;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
}
.logo{
    color: white;
    font-size: 30px;
    flex: 1;
        display: flex;
        align-items: center;
        /* 高さ中央に配置 */
        text-align: left;
}
.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-links li {
    list-style: none;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
        margin-left: 20px;
}
.nav-links ul{
    text-decoration: none;
    color: white;

}
.nav-links a {
    text-decoration: none;
    color: inherit;
    text-decoration: none;
        color: inherit;
}
.logo h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
.h4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    /* 背景色を設定 */
    padding: 20px;
    text-align: center;
    z-index: 1000;
    /* 他の要素の上に表示 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 影を追加 */
}
.title {
    display: inline-block;
    margin-top: 60px;
    margin-left: 10px;
}
.container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    margin-top: 80px;
        /* 固定したh1分の余白を確保 */
}
.side {
    width: 20%;
    background-color: aquamarine;
    color: white;
    position: sticky;
    top: 80px;
}
.flex{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 100px;
}
.book{
    display: flex;
    margin: 40px;
}
.book_img img{
    width: 100%;
    height: 200px;
}
.book_ttl{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 175px;
    }
.book_ttl a{
    text-decoration: none;
    color: inherit;
}
.rank{
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
}
.rank-1{
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
    color: gold;
}
.rank-2{
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
    color: silver;
}
.rank-3{
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
    color: brown;
}
.rank-10{
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
}