.float{
    max-width: 760px;
    width: 100%;
    margin: 60px auto;
}
h1{
    font-size: 24px;
    margin-bottom: 20px;
}
.float_img{
    width: 400px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
/* レスポンシブル対応 */
.float_img img {
    max-width: 100%;
    /* 親要素の幅を超えないように */
    height: auto;
    /* 縦横比を保持 */
    display: block;
    /* 余計なスペースを防ぐ */
}